.image {
    //background:url("https://i.postimg.cc/8z96Q3m5/Night-Sky-BIGSIZEbiggerstars.png");
    background-image: url("https://live.staticflickr.com/65535/51319760752_70570b51a2_b.jpg");
    background-size: cover;
    background-position: center;

}

.gameImg{
   position: absolute;
    background-repeat: no-repeat;
    margin-left: 27%;
    margin-top: 1%;
    width:45%;
}