.pixelArt {
    background-color: #0abde3;
    height: 240px;
    width: 100%;
}

.pixelartHeader {
    text-align: center;
    margin-top:0;
    font-family: 'Quintessential', cursive;
    font-size: 30px;
}