.games {
    background-color:#5f27cd;
    height: 320px;
    width: 100%;
}

.gamesheader {
    margin-top: 0px;
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 29px;
}

.gamesContainer {
    height: 192px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 3px #341f97;
    border-bottom: solid 3px #341f97;
}

.game {
    width:128px;
    height: 128px;
    margin-left:3%;
    margin-right: 3%;
    border:2px solid #c8d6e5;

}

.gamesImg {
    width: 128px;
    height: 128px;
    background: radial-gradient(circle, rgba(118,120,58,1) 41%, rgba(243,104,224,1) 100%);
}

.gamesDescription {
    background-color: #fff;
    width: 350px;
    height: 440px;
    position:absolute;
    margin-top:-15%;
    margin-left:-123px;
    opacity:0.72;
    text-align: center;
    display: none;
    transition: width 1.2s;
    transition-timing-function: ease;
}

.gamesImg:hover {
    opacity: 0.4;

}

.gamesImg:hover + .gamesDescription {
    display: block;
}

.gamesDescriptionText {
    margin-inline: 4%;
}