@import "../PixelArt/PixelArt.scss";

.games {
    padding-top: 24px;
    height: 480px;
    width: 100%;
    position: relative;
    background: linear-gradient(
        270deg,
        rgba(47, 53, 66, 1) 0%,
        rgba(25, 27, 34, 1) 16%,
        rgba(21, 23, 29, 1) 29%,
        rgba(17, 19, 24, 1) 39%,
        rgba(13, 15, 18, 1) 51%,
        rgba(0, 0, 0, 1) 100%
    );
    margin-top: -45px;

    @media screen and (max-width: 768px) {
        height: 960px;
    }

    @media screen and (max-width: 380px) {
        height: 960px;
    }
}

.gamesheader {
    border-bottom: solid 2px #ff6b6b;
    margin-top: 0px;
    text-align: center;
    font-family: "Quintessential", cursive;
    font-size: 29px;
    width: 6%;
    margin-left: 47.8%;
    color: #fff;

    @media screen and (max-width: 768px) {
        margin-left: 39.8%;
        margin-top: 30px;
    }

    @media screen and (max-width: 380px) {
        margin-left: 33.8%;
    }
}

.gamesheader {
    color: #fff;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 3s linear infinite;

    @media screen and (max-width: 768px) {
        border-bottom: none;
    }
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.gamesContainer {
    height: 262px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 3px #54a0ff;
    border-bottom: solid 3px #54a0ff;
    margin-top: 75px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 25px;
        height: 820px;
    }

    @media screen and (max-width: 380px) {
        flex-direction: column;
    }
}

.game {
    width: 128px;
    height: 128px;
    margin-left: 5%;
    margin-right: 4%;
    border: 2px solid #c8d6e5;
    
    @media screen and (max-width: 768px) {
        
        margin-top: 50px;
    }
}

.gamesImg {
    width: 128px;
    height: 128px;
    background: #535c68;
}

.gamesImg1 {

}

.gamesImg2 {

}

.gamesImg3 {

}

.gamesImg4 {
    height: 138px;
}

.gamesDescription {
    position: fixed;
    z-index: 5;
    background: #341f97;
    width: 1440px;
    margin-left: -742%;
    margin-top: 20px;

    // opacity:0.82;
    font-size: 17px;
    text-align: center;
    overflow: hidden;
    transition: width 3.2s;
    transition-timing-function: ease;
    border-radius: 9%;
    display: inline-block;
}

.gamesImg:hover {
    opacity: 0.4;
}

.gamesImg:hover + .gamesDescription {
    display: block;
    position: relative;
    height: 280px;
}

.gamesImg:hover + .games {
    height: 540px;
    padding-bottom: 320px;
}

.gamesImg:hover + .pixelArt {
    margin-top: 320px;
}

.gamesDescriptionHeader {
    color: #fff;
    font-size: 36px;
    margin-top: -0.5%;
    margin-left: 22%;
    font-family: "Merriweather", serif;
    font-style: italic;
}

.gamesDescriptionText {
    margin-top: -15%;
    padding-left: 31%;
    margin-inline: 4%;
    color: #fff;
    display: flex;
    position: absolute;
    font-size: 28px;
    font-family: "Merriweather", serif;
    font-style: italic;
}

.gamesDescriptionText2 {
    margin-top: -4.2%;
    margin-left: 23%;
    font-weight: 1000;
    text-decoration: underline;
    color: #1dd1a1;
    font-size: 29px;
    font-family: "Merriweather", serif;
    font-style: italic;
}

.descriptionImg {
    width: 33%;
    height: 100%;
    margin-left: -1.2%;
    margin-top: -6.5%;
    display: flex;
}

.third {
    margin-left: -585%;
}

.second {
    margin-left: -427%;
}

.first {
    margin-left: -269%;
}
