@import "../PixelArt/PixelArt.scss";

.games {
    height: 320px;
    width: 100%;
    position: relative;
}

.gamesheader {
    border-bottom: solid 2px #ff6b6b;
    margin-top: 0px;
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 29px;
    width: 6%;
    margin-left:47.8%;
    color: #fff;
}

.gamesheader{
    color: #fff;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 3s linear infinite;
}

@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

.gamesContainer {
    height: 192px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 3px #54a0ff;
    border-bottom: solid 3px #54a0ff;
}

.game {
    width:128px;
    height: 128px;
    margin-left:3%;
    margin-right: 3%;
    border:2px solid #c8d6e5;

}

.gamesImg {
    width: 128px;
    height: 128px;
    background: #535c68;
}

.gamesDescription {
    
background: #222f3e;
    width: 100%;
    position:fixed;
    z-index: 5;
    background: #222f3e;
    width: 1440px;
    margin-left: -742%;
    margin-top:20px;


   // opacity:0.82;
    font-size: 17px;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: width 3.2s;
    transition-timing-function: ease;
    border-radius: 27%;
    display: inline-block;
}

.gamesImg:hover {
    opacity: 0.4;

}

.gamesImg:hover + .gamesDescription{
    display: block;
    position: relative;
    height: 300px;

}

.gamesImg:hover + .games {
    height: 540px;
    padding-bottom: 320px;
}

.gamesImg:hover + .pixelArt {
    margin-top:320px;
}

.gamesDescriptionHeader {
    color: #fff;
    font-size:36px;
    margin-top:-0.5%;
    margin-left: 22%;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.gamesDescriptionText {
    margin-top: -15%;
    padding-left: 31%;;
    margin-inline: 4%;
    color: #fff;
    display: flex;
    position:absolute;
    font-size:28px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.gamesDescriptionText2 {
    margin-top: -6.2%;
    margin-left:72%;
    margin-inline: 4%;
    font-weight: 1000;
    text-decoration: underline;
    color:#1dd1a1;
    font-size:29px;
    font-family: 'Merriweather', serif;
    font-style: italic;

}

.descriptionImg {
    width:33%;
    height: 100%;
    margin-left: -1.2%;
    margin-top:-6.8%;
    display: flex;
}

.third {
    margin-left:-585%;
}

.second {
    margin-left: -427%;
}

.first{
    margin-left: -269%;
}


