section {
    background-image: url(../../images/purplesky.jpg);
    width: 100%;
    margin-top: 0;
}


.mainHeader {
    font-size:42px;
    text-align: center;
}

.nameHeader {
    text-align: center;
    font-size:28px;
}