.footer {
    background:url("https://i.postimg.cc/76PVTwCf/Szablon-Wody.png");
    background-position: center;
    height:80px;
}

.footerText {
    margin-top:0;
    font-size: 28px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
}